.highlight-contact::before{
  content: '';
  width: 100px;
  height: 20px;
  left: -5px;
  bottom: -4px;
  background-color:rgba(49, 46, 129,.5);
  position: absolute;
  z-index: -1;
}
.contact-items a{
  filter: opacity(.8);
  transition: all .2s ease;
}
.contact-items a:hover{
  filter: opacity(1);
}