@keyframes hoverUnderline {
  0%{
    width: 0%;
  }
  100%{
    width: 200px;
  }
}

.highlight-about::before{
  content: '';
  width: 70px;
  height: 20px;
  left: -5px;
  bottom: -4px;
  background-color:rgba(49, 46, 129,.5);
  position: absolute;
  z-index: -1;
}
.underline{
  text-decoration-skip-ink: none;
  text-decoration-thickness: .1em;
  text-decoration-color: rgba(6, 182, 212,.9);
}
.underline-btn {
  position: relative;
  font-weight: 500;
}
.underline-btn::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 1px;
  background-color: rgb(212 212 212);
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  transition: all 250ms;
}
.underline-btn:hover::after {
  content: '';
  position: absolute;
  width: 200px;
  height: 1px;
  background-color: rgb(212 212 212);
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  animation: hoverUnderline 200ms;
}